/* Orange: #e67e22 */
/* Alizarin: #e74c3c

/* ------------------- */
/* BASIC SETUP */
/* ------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------- */
/* REUSABLE COMPONENTS */
/* ------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----HEADINGS---- */
h1,
h2,
h3 {
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #ec4e3c;
  content: " ";
  width: 175px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h5 {
  font-size: 100%;
}

/* ----PARAGRAPHS---- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* ----BUTTONS---- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}

.btn:hover,
.btn:active {
  background-color: #c72918;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #c72918;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #c72918;
  color: #fff;
}

/* ------------------- */
/* HEADER */
/* ------------------- */

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(#000)), url(img/salon-tools-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #000), url(img/salon-tools-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-logo {
  height: 175px;
  width: auto;
  float: left;
}

.sticky-logo { display: none; }

/* Main Nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #e74c3c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #fff;
}

/* Mobile Nav */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky Nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav { margin-top: 40px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.sticky .main-logo { display: none; }

.sticky .sticky-logo {
  display: block;
  height: 75px;
  width: auto;
  float: left;
  margin: 3px;
}

/* ------------------- */
/* ABOUT US */
/* ------------------- */

.section-about-us {
  background-color: #f4f4f4;
}

.about-box:first-child {
  margin-top: 30px;
  text-align: right;
  padding-right: 3%;
}

.about-box:last-child {
  margin-top: 105px;
  padding-left: 3%;
}

.about-photo {
  width: 100%;
}

.section-about-us p {
  margin-left: 0;
}

/* ------------------- */
/* STUDIO PHOTOS */
/* ------------------- */

.section-studio-showcase {
  padding: 0;
}

.studio-showcase {
  list-style: none;
  width: 100%;
}

.studio-showcase li {
  display: block;
  float: left;
  width: 33.33%;
}

.studio-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.studio-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.studio-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* ------------------- */
/* SERVICES */
/* ------------------- */

.section-services h3 {
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.services-box ion-icon {
  display: inline-block;
  text-align: center;
  color: #e74c3c;
  font-size: 100%;
  margin: -5px 10px 0 5px;
  line-height: 120%;
  vertical-align: middle;
}

.services-box {
  background-color: #f4f4f4;
  border-radius: 5px;
  width: 110%;
  height: 500px;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px #e3e3e3;
          box-shadow: 0 2px 2px #e3e3e3;
}

.services-box .header {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.services-box ul {
  list-style: none;
}

.services-box ul li {
  padding: 5px 0;
}

/* ------------------- */
/* REVIEWS */
/* ------------------- */

.section-reviews {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/reviews-image-3-min.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.yelp-review {
  display: block;
  width: 80%;
}

/* ------------------- */
/* GOOGLE MAP */
/* ------------------- */

.map {
  width: 100%;
  height: 500px;
}

.row-map {
  margin: 0;
}

.section-map {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

/* ------------------- */
/* CONTACT US */
/* ------------------- */

.section-contact p, h3 {
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.section-contact h4, h5 {
  font-weight: 300;
  text-align: center;
}

.phone-icon {
  text-align: center;
  color: #e74c3c;
  font-size: 130%;
  margin: -5px 10px 0 5px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* ------------------- */
/* FOOTER  */
/* ------------------- */

footer {
  background-color: #333;
}

.facebook {
  font-size: 200%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.facebook:hover {
  color: #3B5998;
}

.social-links {
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
  margin: 20px 0 25px;
}

.social-links li {
  display: inline-block;
  margin-top: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 80%;
  margin-bottom: 50px;
}

/* ------------------- */
/* ANIMATIONS */
/* ------------------- */

.js--wp-services-row1,
.js--wp-services-row2,
.js--wp-reviews {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-services-row1.animated,
.js--wp-services-row2.animated,
.js--wp-reviews.animated {
  opacity: 1;
}