/* Orange: #e67e22 */

/* ------------------- */
/* BASIC SETUP */
/* ------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

  font-size: 300%;
} */

/* ------------------- */
/* REUSABLE COMPONENTS */
/* ------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----HEADINGS---- */
h1,
h2,
h3 {
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 175px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ----PARAGRAPHS---- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* ----ICONS---- */
/* .flaticon-017-scissors-1:before {
  font-size: 45px;
  text-align: center;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
} */
ion-icon {
  font-size: 165%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

ion-icon:hover {
  color: #3B5998;
}

/* ----BUTTONS---- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ------------------- */
/* HEADER */
/* ------------------- */

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(#000)), url(img/salon-tools.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #000), url(img/salon-tools.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* Main Nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #e67e22;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #fff;
}

/* Mobile Nav */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky Nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
          box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

/* ------------------- */
/* ABOUT US */
/* ------------------- */

.section-about-us {
  background-color: #fcf2e8;
}

/* ------------------- */
/* IMAGE SLIDER */
/* ------------------- */
/* .row {
  max-width: 1140px;
  margin: 0 auto;
} */
#slideshow.section {
  width: 540px;
  margin: 40px auto;
  overflow: auto;
}

.slider-inner {
  width: 2048px;
  height: 1152px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border:#666 solid 1px;
}

.slider-inner img {
  display: none;
  width: 2048px;
  height: 1152px;
}

.slider-inner img.active {
  display: inline-block;
}

.prev, .next {
  /* margin-top: 130px; */
  cursor: pointer;
}

.prev {
  float: left;
  position: relative;
  margin-right: -45px;
  z-index: 100;
}

.next {
  float: right;
  position: relative;
  /* margin-left: -45px; */
  z-index: 100;
}

/* ------------------- */
/* SERVICES */
/* ------------------- */

.section-services h3 {
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.section-services i {
  text-align: center;
  color: #e67e22;
  margin-bottom: 10px;
}

.services-box {
  background-color: #f4f4f4;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px #e3e3e3;
          box-shadow: 0 2px 2px #e3e3e3;
}

.services-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.services-box ul {
  list-style: none;
}

.services-box ul li {
  padding: 5px 0;
}

/* ------------------- */
/* REVIEWS */
/* ------------------- */

.section-reviews {
  background-color: #fcf2e8;
}

/* ------------------- */
/* CONTACT US */
/* ------------------- */
.contact-info {
  text-align: center;
}

/* ------------------- */
/* FOOTER  */
/* ------------------- */

footer {
  background-color: #333;
}

.social-links {
  list-style: none;
  float: right;
}

.social-links li {
  display: inline-block;
  margin-top: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* .social-links li a:hover,
.social-links li a:active {
  color: #3B5998;
} */

.icon-credit {
  list-style: none;
  border: 0;
  color: #888;
}

.icon-credit a:link, 
.icon-credit a:visited {
  text-decoration: none;
}

.section-contact p {
  text-align: center;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 80%;
}

/* ------------------- */
/* ANIMATIONS */
/* ------------------- */

.js--wp-services-row1,
.js--wp-services-row2,
.js--wp-reviews {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-services-row1.animated,
.js--wp-services-row2.animated,
.js--wp-reviews.animated {
  opacity: 1;
}